/* src/components/public/styles/HomePage.scss */
.home-page-container {
  text-align: center;
  background-color: #f0f2f5;
  padding: 2rem;
  border-radius: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
